@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a class="btn btn-dark" asp-controller="Departments" asp-action="Index">Departments</a>
        <a class="btn btn-dark" asp-controller=" Sellers" asp-action="Index">Sellers</a>
        <a class="btn btn-dark" asp-controller="Home" asp-action="About">About</a>
    </p>

</div>
